---
# Główny task instalacji webserwera w na PI
# marcin_stec@pl.ibm.com
  
  - name: Pakiety serwera web
    dnf:
      name: "{{ web_pkgs }}"
      state: latest
    tags:
      - "WEB_PKGS"

  - name: Otwieranie portów firewalla
    firewalld:
      service: "{{ item }}"
      state: enabled
      permanent: yes
    with_items: "{{ fw_services }}"
    tags:
      - "FW"
      - "SEC"

  - name: Ustawianie bulionów dla Lighttpd
    seboolean:
      name: httpd_setrlimit
      state: true
      persistent: true
    when: ansible_facts.selinux.status == 'enabled'
    tags:
      - "HTTPD"
      - "SEC"

  - name: Podskrobanie var.server_root w lighttpd.conf
    lineinfile:
      path: /etc/lighttpd/lighttpd.conf
      regexp: '^var\.server_root'
      line: 'var.server_root = "{{ srv_root }}"'
    tags:
      - "HTTPD"

  - name: Tworzenie {{ doc_root }}  jeśli nie istnieje
    file:
      path: "{{ doc_root }}"
      state: directory
      mode: '0700'
      owner: "lighttpd"
      group: "lighttpd"
    tags:
      - "HTTPD"

  - name: Wrzucanie pliku index.html
    template:
      src: index.html.j2
      dest: "{{ doc_root }}/index.html"
      owner: "lighttpd"
      group: "lighttpd"
      # force: false
    tags:
      - "HTTPD"

  # - name: "Zezwolenie na directory browsing w {{ ba_root }}"
  #   copy:
  #     src: dirlisting.conf
  #     dest: "/etc/lighttpd/conf.d/"
  #     force: false
  #   tags:
  #     - "HTTPD"

  - name: "Definicja publicznego katalogu"
    copy:
      src: pub_dir.conf
      dest: "/etc/lighttpd/conf.d/99-custom.conf"
    tags:
      - "HTTPD"
  
  - name: Tworzenie publicznego katalogu jeśli nie istnieje
    file:
      path: "/toys/pub"
      state: directory
      mode: 'u=rwx,g=rxs,o=rx'
      owner: "lighttpd"
      group: "ftp"
    tags:
      - "HTTPD"

  - name: "Dodawanie polityk SELinux dla katalogu {{ doc_root }}"
    sefcontext:
      target: '{{ doc_root }}(/.*)?'
      seuser: "system_u"
      setype: "httpd_sys_rw_content_t"
      state: present
    when: ansible_facts.selinux.status == 'enabled'
    tags:
      - "SEC"
      - "HTTPD"
      - "BA"

  - name: "Dodawanie polityk SELinux dla katalogu publicznego {{ pub_dir }}"
    sefcontext:
      target: '{{ pub_dir }}(/.*)?'
      seuser: "system_u"
      setype: "httpd_sys_rw_content_t"
      state: present
    when: ansible_facts.selinux.status == 'enabled'
    tags:
      - "SEC"
      - "HTTPD"
      - "BA"

  - name: "Ustawianie kontekstu SELinux na {{ doc_root }}"
    command: restorecon -irv "{{ doc_root }}"
    when: ansible_facts.selinux.status == 'enabled'
    tags:
      - "SEC"
      - "HTTPD"
      - "BA"

  - name: "Ustawianie kontekstu SELinux na {{ pub_dir }}"
    command: restorecon -irv "{{ pub_dir }}"
    when: ansible_facts.selinux.status == 'enabled'
    tags:
      - "SEC"
      - "HTTPD"
      - "BA"

  - name: Włączanie Lighttpd
    systemd:
      name: lighttpd.service
      state: reloaded
      enabled: true
    tags:
      - "HTTPD"