<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Domowy serwer ogólnego rażenia</title>
  </head>
  <body>
    <p>Serwer rożnych smieci na  <strong>{{ ansible_hostname }}</strong>.</p>
    <p>Prawdopodobnie chcesz zajrzeć <a href="pub">tutaj</a>.</p>
  </body>
</html>