<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Domowy serwer ogólnego rażenia</title>
  </head>
  <body>
    <p>Serwer pakietów klienta IBM Spectrum Protect Backup/Archive <strong>{{ ansible_hostname }}</strong>.</p>
    <p>Prawdopodobnie chcesz zajrzeć <a href="ba">tutaj</a>.</p>
    <p>Ale może chcesz sciągnąć plik <a href="ba/ba.repo">repo</a>? Wrzuć go do <code>/etc/yum.repos.d/</code> żeby instalować pakiety BA z tego serweroa.</p>
  </body>
</html>